<div class="outlines-container">
  <%= render 'shared/outlines_header' %>
  <main>
    <div class="outlines row d-flex">
      <div class="col-sm-4">
        <h1>Outlines</h1>
        <button id="outline-add-btn"><%= link_to "Add an Outline", new_outline_path, id:"outline-add-link" %></button>
        <br>
        <br>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <% if @outlines.any? %>
          <h4>Here are my outlines:</h4>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>ID #</th>
              </tr>
            </thead>
            <tbody>
              <% @outlines.each do |outline| %>
                <tr>
                  <td><%= link_to outline.name, outline_path(outline) %></td>
                  <td><%= outline.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You have no outlines saved.</p>
        <% end %>
      </div>

    </div>
  </main>
</div>
<footer>
  <%= render 'shared/footer'%> 
</footer>