<div class="outlines-container">  
  <%= render "shared/errors", :object => @outline %>
  <header>
    <%= render 'shared/outlines_header' %>
  </header>
  <main>
    <div class="outline row d-flex justify-content-center align-items-center">
      <div class="card shadow bg-white w-75 p-4">
        <h1>Create a New Outline</h1>
        <hr>
        <%= render "shared/outline_form" %>
        <p><%= link_to "Return to outlines", outlines_path %></p>
      </div>
    </div>
  </main>
</div>
<footer>
  <%= render 'shared/footer'%> 
</footer>