<nav class="navbar navbar-expand-md">
  <% if user_signed_in? %>
    <div class="navbar-nav mr-auto">
      <button class="btn mr-3 mt-3 sign-out-btn-dark"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %></button>
      <button class="btn mr-3 mt-3 sign-in-btn-dark"><%= link_to 'Outlines', outlines_path, class: 'nav-link'%></button>
      <button class="btn mr-3 mt-3  random-btn-dark"><%= link_to 'Random', home_index_path, class: 'nav-link'%></button>
      <button class="btn mt-3 play-btn-dark"><%= link_to 'Play', home_index_path, class: 'nav-link'%></button>
    </div>

  <% else %>
    <div class="navbar-nav mr-auto">
    <button class="btn mr-3 mt-3  sign-up-btn-dark"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></button>
      <button class="btn mr-3 mt-3 sign-in-btn-dark"><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></button>
      <button class="btn mr-3 mt-3  random-btn-dark"><%= link_to 'Random', home_index_path, class: 'nav-link'%></button>
      <button class="btn mt-3 play-btn-dark"><%= link_to 'Play', home_index_path, class: 'nav-link'%></button>
    </div>
  <% end %> 

  <div class="navbar-nav">
  <%= link_to 'AHOY!', home_index_path, id: "nav-header" %>
  
  </div>
</nav>