<header>
  <%= render 'shared/header' %>
</header>

<main>
  <%= render 'shared/splash_tagline' %> 
  <section id="splash-image-top"></section>
  <section id="directions" class="p-5 text-center">
    <h1 data-aos="flip-up" data-aos-duration="2000">How does it work?</h1>
    <hr>
    <br>

    <div class="row d-flex justify-content-start mb-5" style="margin-top: 50px;"'>
      <div class="directions-card card border-0 w-50 ml-5 p-2" 
        data-aos="zoom-in-left"
        data-aos-duration="2500">
        <div class="row g-5">
          <div class="col-md-4">
            <%= image_tag "new-outline-page.png", class:"card-img-top", alt:"" %>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h2 class="card-title">Outline</h2>
              <p class="card-text">Sign in to add the outline you want to workshop.</p>
              <p class="card-text"><small class="text-muted">(Ahoy! currently support outlines for essays with two body paragraphs and two pieces of evidence each. Be sure to remember the ouline id.)</small></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class='row d-flex justify-content-end mb-5' style="margin-top: 150px;">
      <div class="directions-card card border-0 w-50 mr-5" 
        data-aos="zoom-in-right"
        data-aos-duration="2500">
        <div class="row g-5">
          <div class="col-md-4">
            <%= image_tag "play.png", class:"card-img-top", alt:"" %>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h2 class="card-title">Enter ID</h2>
              <p class="card-text">Find an opponent to play  against, and press 'Play'!</p>
              <p class="card-text">On the form that follows, enter the outline id's for your paper and that of your opponent.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row d-flex justify-content-start mb-5' style="margin-top: 150px;">
      <div class="directions-card card border-0 w-50 ml-5" 
        data-aos="zoom-in-left"
        data-aos-duration="2500">
         <div class="row g-5">
          <div class="col-md-4">
            <%= image_tag "game-page.png", class:"card-img-top", alt:"" %>
           </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h2 class="card-title">Play!</h2>
              <p class="card-text">Give your teammates clues in the forms of argumentative claims to see if they can guess the evidence you've selected.</p>
              <p class="card-text">
                <%= link_to 'Click here for game rules', home_directions_path %>
              </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="theory" class="p-5">
      <div class="row h-100"
        data-aos="fade-right"
        data-aos-duration="2000">
        <div class="col-lg-6">
          <div class="card-body">
            <h1 class="card-title">Learning Theory</h1>
            <p class="card-text">Ahoy! was created by a former teacher and learning scientist. Check the link below to read more about the theory behind the game design! </p>
            <p class="card-text">
              <%= link_to 'About', home_about_path %>
            </small></p>
          </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end"
      data-aos="fade-left"
      data-aos-duration="2000">
      <div class="col card border-0">
        <%= image_tag 'classroom.jpg', class:"card-img", id:"classroom-img", alt:"" %>
      </div>
    </div>
  </section>
</main>
<footer>
  <%= render 'shared/footer'%> 
</footer>