<div class="login-container d-flex flex-column align-items-center">
  <br>
  <div class="navbar-nav">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "login-header"%>
  </div>
  <br>
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Log In</h2>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <br>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log In", class: "btn sign-in-btn-dark", id: "signin-btn" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>