<% if @boards.any? %>
  <ul>
    <% @boards.each do |board| %>
      <li><%= board.name %></li>
      <p>Id: <%= board.id %></p>
      <p>O1 Id: <%= board.outline_id_1 %></p>
      <p>O2 Id: <%= board.outline_id_2 %></p>
      <p>O1 User Id: <%= board.outlines[0].user_id%></p>
      <p>O2 User Id: <%= board.outlines[1].user_id%></p>
      <hr>
    <% end %>
  </ul>
<% end %>