<div class="board-container d-flex flex-column align-items-center">
  <br>
  <div class="navbar-nav">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "play-header"%>
  </div>
  <br>
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Create New Game</h2>
    <%= notice %>
    <%= alert %>
    <%= render "shared/errors", :object => @board %>
    <br />
    <%= form_for @board do |f| %>
      <div class="field d-flex justify-content-center">
        <%= f.text_field :name, placeholder:'Give Your Game a Name', class: 'form-control text-center', style: 'width: 50%' %>
      </div>
      <br> 

      <div class="field d-flex justify-content-center">
        <%= f.text_field :outline_id_1, placeholder:'Blue Team Outline ID', class: 'form-control text-center', style: 'width: 50%' %>
      </div>
      <br>

      <div class="field d-flex justify-content-center">
        <%= f.text_field :outline_id_2, placeholder:'Green Team Outline ID', class: 'form-control text-center', style: 'width: 50%' %>
      </div>
      <br> 

      <%= f.submit 'Start Game!', class: "btn play-btn-dark", id: 'play-btn'  %>
    <% end %>

  </div>
</div>