<div class="board-container d-flex flex-column align-items-center">
  <br>
  <div class="navbar-nav">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "play-header"%>
  </div>
  <br>
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Create New Game</h2>
    <%= notice %>
    <%= alert %>
    <%= render "shared/errors", :object => @board %>
    <br>
    <br>

    <%= form_for @board do |f| %>
      <div class="field">
        <%= f.label :name %><Br>
        <%= f.text_field :name, placeholder:'Lord of the Flies' %>
      </div>
      <br> 

      <div class="field">
        <%= f.label :outline_id_1, 'Blue Team Outline ID' %><br>
        <%= f.text_field :outline_id_1, placeholder:'123' %>
      </div>
      <br>

      <div class="field">
        <%= f.label :outline_id_2, 'Green Team Outline ID' %><br>
        <%= f.text_field :outline_id_2, placeholder:'456' %>
      </div>
      <br> 

      <%= f.submit 'Start Game!', class: "btn w-25" %>
    <% end %>

  </div>
</div>