<%= render 'shared/header' %> 
<div class="board-container row align-items-center justify-content-center">
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Create New Game</h2>
    <br>

    <%= form_for @board do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <br>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log In", class: "btn sign-in-btn-dark", id: "signin-btn" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

  </div>
</div>