<%= render 'shared/header' %> 
<div class="board-container row align-items-center justify-content-center">
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Create New Game</h2>
    <%= render "shared/errors", :object => @board %>
    <br>

    <%= form_for @board do |f| %>
    
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", style: "width: 50%" %>
      </div>
  
      <div class="form-group">
        <%= f.label :outline_id_1 %>
        <%= f.text_field :outline_id_1, class: "form-control", style: "width: 50%" %>
      </div>

      <div class="form-group">
        <%= f.label :outline_id_2 %>
        <%= f.text_field :outline_id_2, class: "form-control", style: "width: 50%" %>
      </div>
      
      <%= f.submit 'Start Game!', class: "btn w-25" %>
    <% end %>

  </div>
</div>