<nav class="game-nav navbar navbar-expand-sm ">

  <div class="navbar-nav mr-auto">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "nav-header" %>
    <p id="turn-text">Blue's Turn</p>
  </div>

  <div class="navbar-nav ml-auto game-view-nav">
    <p id="islander-view">Islander View</p>
    <p> | </p>
    <p id="captain-view">Captain View</p>
  </div>

</nav>

<div class="game-container">
  <h1>Game Board</h1>
  <p>Name: <%= @board.name %></p>
  <% if @board.outlines.any? %>
    <% @board.outlines.each do |outline| %>
      <h2><%= outline.name %></h2>
      <ul>
        <li><%= outline.claim_1 %></li>
        <li><%= outline.evidence_1a %></li>
        <li><%= outline.evidence_1b %></li>
        <li><%= outline.close_call_1 %></li>
        <li><%= outline.red_herring_1 %></li>
        <li><%= outline.claim_2 %></li>
        <li><%= outline.evidence_2a %></li>
        <li><%= outline.evidence_2b %></li>
        <li><%= outline.close_call_2 %></li>
        <li><%= outline.red_herring_2 %></li>
      </ul>
      <hr>
    <% end %>
  <% end %>
</div>
