<header>
  <nav class="game-nav navbar navbar-expand-sm ">
    <div class="navbar-nav mr-auto">
      <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "nav-header" %>
      <% if @turn === "blue" %>
        <p id="turn-text">Blue's Turn</p>
      <% else %>
        <p id="turn-text">Green's Turn</p>
      <% end %>
    </div>
    <div class="navbar-nav ml-auto game-view-nav">
      <p id="game-view">Islander View</p>
    </div>
  </nav>
</header>

<main class="game-container">
  <% if @data.any? %>
    <article id="board" class="row row-cols-3 row-cols-sm-4" >
      <% @data.each_with_index do |card, index| %>

        <section class="col mb-4">
          <div class="board-card card h-100 p-2 text-center <%= card.category %> <%= card.color %>" id="card<%= index %>">
            <p class="card-text"><%= card.text %></p>
          </div>
        </section>
      <% end %>
      


    </article>
  <% else %>
    <p>There was an error. Please enter your outlines again. Make sure both outlines have the correct information stored!</p>
    <%= link_to 'Play', new_board_path %>
  <% end %>
</main>