<main class="random-container d-flex flex-column align-items-center justify-content-center">
  <div class="navbar-nav">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "random-header"%>
  </div>
  <br>
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Generate a Random Game</h2>
    <%= alert %>
    <br />
    <%= render "shared/errors", :object => @random %>
    <br>
    <%= form_for @random do |f| %>
      <div class="field d-flex justify-content-center">
        <%= f.text_field :book_title, placeholder:'Enter a Book Title', class: 'form-control text-center', style: 'width: 50%' %>
      </div>
      <br> 
      <%= f.submit 'Play!', class: "btn random-btn-dark", id: 'random-btn' %>
    <% end %>
  </div>
</main>