<div class="random-container d-flex flex-column align-items-center">
  <br>
  <div class="navbar-nav">
    <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "random-header"%>
  </div>
  <br>
  <div class="registration-card card shadow-lg p-4 text-center w-50">
    <h2>Generate a Random Game</h2>
    <%= render "shared/errors", :object => @random %>
    <br>

    <%= form_for @random do |f| %>
      <div class="field">
        <%= f.label :book_title %><Br>
        <%= f.text_field :book_title, placeholder:'Lord of the Flies' %>
      </div>
      <br> 
      <%= f.submit 'Play!', class: "btn random-btn-dark", id: 'random-btn' %>
    <% end %>


    <%# <form action='/randoms' method='post'>
      <div class="form-group">
        <label for="book_title">Book Title: </label>
        <input id="book_title" name="book_title" placeholder="The Awakening">
      </div>
      <button class="btn random-btn-dark" id="random-btn" type="submit">Play!</button>
    </form>    %>

  </div>
</div>